<div class="row p-5">
    <div class="card mx-auto justify-content-center" style="width: 640px;">
        <img src="{{employee.avatar}}" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">Name: {{employee.name}}</h4>
            <p class="card-text">Score: {{employee.score}}</p>
            <a href="/employee/list" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>